doctype html
html
  head
    title= title || "Театр Омега"
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='/css/style.css')

  body

    block content
      .container(style='margin-top: 100px')
        .row.justify-content-center
          .col-md-6
            .card
              .card-body
                h3.text-center Регистрация
                if error
                  .alert.alert-danger #{error}
                if message
                  .alert.alert-success #{message}
                form(action='/auth/register' method='post')
                  .form-group
                    label(for='username') Имя пользователя
                    input#username.form-control(type='text' name='username' required='required')
                  .form-group
                    label(for='email') Электронная почта
                    input#email.form-control(type='email' name='email' required='required')
                  .form-group
                    label(for='password') Пароль
                    input#password.form-control(type='password' name='password' required='required')
                  .form-group
                    label(for='confirmPassword') Подтвердите пароль
                    input#confirmPassword.form-control(type='password' name='confirmPassword' required='required')
                  button.btn.btn-primary.mr-2(type='submit') Зарегистрироваться
                  a(href="/auth/login") Есть аккаунт? Войдите 
