doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Админ панель - #{title}
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")


  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href="/admin") Админ панель
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="/admin/users") Пользователи
            li.nav-item
              a.nav-link(href="/admin/shows") Спектакли
            li.nav-item
              a.nav-link(href="/admin/genres") Жанры
            li.nav-item
              a.nav-link(href="/admin/orders") Заказы
          ul.navbar-nav
            li.nav-item
               form(action='/auth/logout', method='POST', style='display: inline-block;')
                  button.btn.btn-link(style='color: white; background: none; border: none; padding: 0;') Выход

    main(role="main" class="container mt-4")
      block content

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
